{
  "presets": ["env", "react"],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-es2015-arrow-functions",
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}