body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB!important;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}